 __pycache__/
*.pyc

 api-controller/scripts/temp.json
 api-controller/flask-backend/__pycache__/
 api-controller/flask-backend/dataccess/__pycache__/
 api-controller/flask-backend/utils/__pycache__/
 api-controller/flask-backend/views/__pycache__/
 api-controller/mongo_data/ 
 api-controller/template/
 api-controller/data/
__pycache__/
*.pyc

api-controller/__pycache__/
api-controller/dataccess/__pycache__/
api-controller/utils/__pycache__/
api-controller/views/__pycache__/
api-controller/template/
api-controller/data/

web-app/node_modules
 
/docassis_venv/*

api-controller/auth-ms/node_modules
