 __pycache__/
*.pyc

 api-controller/flask-backend/__pycache__/
 api-controller/flask-backend/dataccess/__pycache__/
 api-controller/flask-backend/utils/__pycache__/
 api-controller/flask-backend/views/__pycache__/
 api-controller/mongo_data/ 
 api-controller/template/
 api-controller/data/

 web-app/node_modules
 
 /docassis_venv/*

 /api-controller/__pycache__
 