 __pycache__/
 *.pyc

 api-controller/__pycache__/
 api-controller/dataccess/__pycache__/
 api-controller/utils/__pycache__/
 api-controller/views/__pycache__/
 api-controller/template/
 api-controller/data/

 web-app/node_modules
 
 /docassis_venv/*

 /api-controller/__pycache__
 